<div class="robots-background">
    <Hds::AppFrame as |Frame|>
        <Frame.Header>
            <h1 class="robot-header">RoboRally</h1>
        </Frame.Header>
        <Frame.Main>
            <div class="robot-box">
                <Hds::Table ...attributes class="robot-frame" @model={{this.model}} @columns={{array (hash key=" rank"
                    label="Rank" ) (hash key="name" label="Team name" ) (hash key="time" label="Time" align="right" ) }}
                    @valign="middle">
                    <:body as |B|>
                        <B.Tr>
                            <B.Td>{{B.data.rank}}</B.Td>
                            <B.Td>{{B.data.name}}</B.Td>
                            <B.Td @align="right">{{B.data.time}}</B.Td>
                        </B.Tr>
                    </:body>
                </Hds::Table>
            </div>
        </Frame.Main>
    </Hds::AppFrame>
</div>